* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
h1 {
	color: blue;
	text-align: center;
	margin-bottom: 5px;
}
.obrazek {
	display: block;
	margin: 0 auto;
	width: 100%;
}
p {
	margin: 15px 15px;
}
hr {
	margin: 15px 15px;
}
.odkazy {
	text-align: center;
}
a {
	color:blue;
	text-decoration: none;
}
img {
	width: 20px;
}
