# my ignored files.
optimalizace pro vyhledávače SEO/heslo a jmeno.txt
optimalizace pro vyhledávače SEO/klíčová slova.txt
Brackets.Release.1.14.2.msi
Sdíleno s klientkami - 1. Základy HTML a CSS.docx
Sublime Text Build 3211 x64 Setup.exe
Pokročile praktiky v HTML a CSS/Pomocné tabulky - zobrazení a pozicování.xlsx
