body {
	border: 2px solid orange;
}
html {
	border: 2px solid red;
}
.seznam {
	border: 2px solid green;
	position: relative;
	top: 20px;
}

.zarovnani {
	border: 2px solid blue;
	color: orange;
	/*position: relative; - в рамках таблицы
	top: 30px;
	left: 50px;
}
.zarovnani:hover {
	border: 2px solid green
}
	position:absolute; /* в рамках html*/
}