* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #3431d4;
}
h1 {
	background: #3431d4;
	color: white;
	text-align: center;
}
img {
	width: 100px;
	text-decoration: none;
}
a {
	text-decoration: none;
}