h1 {
	text-align:center;
	color: green;
}
.cerveny {
	color: red;
	margin: 40px 10px;
}
.modry {
	color: blue;
	margin: 40px 10px;
}
.conteiner {
	width: 1000px;
	margin: 0 auto;
}
input {
	border:2px solid green;
	border-radius:10px;
	padding:10px;
	color:#000;
	background#fff;
	outline:none;
	margin-bottom:10px;
}
input::placeholder {
	font-size: 15px;
	font-weight: bold;
}
input[type="submit"]{
	border: 2px solid #000;
	background: green;
	color: #fff;
	cursor: pointer;
}
input:hover {
	background: blue;
}