* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background: pink;
	height: 120px;
	position: relative;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.headertext h1 {
	text-align: center;
	padding-top: 40px;
}
#logo img{
	position: absolute;
	top: 9px;
	left: 537px;
}
