* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
    width: 100%;
	height: 287px;
}
.alert alert-primary {
	padding-top: 50px;
}
.omne {
	width: 300px;
	float: right;
	border-radius: 50%;
	margin: 50px 100px 50px 100px;
}
p {
	text-align: center;
}