* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img{
    width: 100%;
	height: 288px;
}
.top-up {
	position: fixed;
	bottom: 20px;
	right: 30px;
}
/*body .container portfolio{
	display: flex;
	align-items: center;
	justify-content: center;
}*/
.img1 {
	background-image: url(../img/slide1.png);
}
.img2 {
	background-image: url(../img/slide2.png);
}
.img3 {
	background-image: url(../img/slide3.png);
}
.img4 {
	background-image: url(../img/slide4.png);
}
.img5 {
	background-image: url(../img/slide5.png);
}
.portfolio {
	display: flex;
	width: 90vw;
}
.my-carousel {
	width: 75%;
	margin: 0 auto;
	box-shadow: 3px 3px 3px black;

}

